htmml, body{
  height:100%;
  margin:0;
  padding:0;
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 28px;
  box-sizing: border-box
}

a{
  background-color: grey;
}


ul{
  list-style-type: none;
}

/* add row spacing to bootstrap class=row */
.row{
  margin-bottom: 20px;
}

.nav_bar_right{
  justify-content: flex-end;
}

.head{
  background:url("../img/sandstone.jpg");  
}

.vertical-center{
  background:white;
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one      */
  display: flex;
  align-items: center;
}

.container{
  position:relative;
}

.main_container{
  position: absolute;
  top: 20px;
  left: 20px;
}

.img_container{
  height: 260px;
  border: 32px solid; 
  border-image: url("../img/rocks.jpeg") 30 round;
  background-image: url('../img/pic_bkg.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

.prof_img{
  margin-left: -181px;
  margin-top:-108px;
  width: 576px;
  height: 308px;
}

.left_col{
  max-width: 300px;
}

.right_col{
  max-width: 100%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  vertical-align: bottom;
  padding-right: 30px;  
}

.right_col_msg{
  padding-left: 20px;
  overflow: hidden;
}

.col_center{
  text-align: center;
  display: flex;
  justify-content: space-around;
  padding-inline-start: 0px;
}

.titled_table{
  display:flex;
  flex-direction: column;
}

.topics{
  position: relative;
  top: 50px;
  left: -2px;
}

.btn-info{
  background-color: grey;
  border-color: grey;
  font-family: 'Hind Madurai', sans-serif;
}

.btn-space{
  margin: 8px;
}

.col-btn{
  width: 100px;
  color: white;
}

.spacer_row{
  height: 60px;
  width: 100%;
}

.row1{
  padding-left: 15px;  
}

/* vertical line */
.vl {
  height: 40px;
  width: 106%;
  background-image: url('../img/rocks.jpeg');
  background-size: 100%;
  justify-content: flex-end;  
}

.crop {
  max-height:170px;
  width:auto
  }
  
.white_background{
  color: black;
  background-color: white;
  background:none;  
}

.align_left{
  text-align: left !important;
}

.aligh-right{
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

.center-block {
   margin-left:auto;
   margin-right:auto;
   display:block;
}

.main_content{
  color:black;
}