{% extends "base.html" %}

{% block title %}
Projects
{% endblock title %}

{% block content_msg %}
“Your work is going to fill a large part of your life, and the only way to be truly satisfied is to do what you believe is great work. And the only way to do great work is to love what you do.”

<p>--Steve Jobs</p>
{% endblock content_msg %}

{% block content_main %}
            <div class="row indent_content">
               Unfortunately, my work experience is proprietary and not open to public view.
               However, I have taken the time to create a few projects which demonstrate full-stack technology and programming languages .
               Please feel free to check them out.
            </div>
            <div class="row indent_content">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h1>Projects</h1>
                    <ol class="align_left">
                    {% for repo in github_repos %}
                        <li>{{ repo.name }}</li>
                    {% endfor %}
                    </ol>
                </div>                        
            </div>
{% endblock content_main %}
